html
{
    height: 100%;
}
body
{
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}


/* base animate - begin */
.base-animation
{
    top: 0;
    left: 0;

    /*-webkit-transition: transform 0s linear !important;*/
    /*transition: transform 0s linear !important;*/
}
.base-animation .screen
{
    height: 100%;
}
/* base animate - end */




/* influx animate - begin */
.influx-animation
{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.influx-animation .screen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.influx-animation .screen.current
{
    z-index: 10;
}
/* influx animate - end */




/* solid mod - begin */

.roller
{
    position: fixed;
    height: 100%;
    width: 100%;
}

.solid-mod .roller
{
    position: relative;
    transform: none;
    height: auto;
    /*-webkit-transition-duration: 0s;*/
    /*transition-duration: 0s;*/
}

.solid-page .screen
{
    height: auto;
}

.solid-mod body
{
    overflow: auto;
}
/* solid mod - end */
