.slide-animation
{
    overflow: hidden;
    position: relative;
}

.slide-animation > .roller
{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide-animation.axis-y > .roller > .screen
{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.slide-animation.axis-x > .roller
{
    white-space: nowrap;
    font-size: 0;
}

.slide-animation.axis-x > .roller > .screen
{
    vertical-align: top;
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
    font-size: 1rem;
}
.simple-page
{
    overflow-y: auto;
}

.simple-page.wrap-roller
{
    min-width: 100%;
    min-height: 100%;
}

.wrap-roller.simple-page > .roller > .screen
{
    height: auto;
}
.wrap-roller {
    width: 100%;
    height: 100%;
}