html
{
    height: 100%;
}
body
{
    height: 100%;
    min-height: 100%;
}


/* base animate - begin */
.base-animation
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}
.base-animation .screen
{
    height: 100%;
}
/* base animate - end */




/* influx animate - begin */
.influx-animation
{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.influx-animation .screen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.influx-animation .screen.current
{
    z-index: 10;
}
/* influx animate - end */




/* solid mod - begin */
.solid-page
{
    position: relative;
    transform: none;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.solid-page .screen
{
    height: auto;
}
/* solid mod - end */
